* {
 margin: 0;
 padding: 0;
 }
body {
	background-color: #d1d1d1;
	width: 100%;
 	height: 100%;
    font-size: 18px;
    font-weight: normal;
    line-height: 135%;
    font-family: 'Cuprum', sans-serif;
    word-break: normal;
}

.container{
	background-color: white;
	margin-top:40px;
 	border:0px solid #000;
 	width: 100%;
 	max-width:1200px;
	margin: 0 auto;
 	height: auto !important;
}

.header {
	position:relative;
	width:100%;
	max-width:1200px;
	height:320px;
	margin:0 auto;
	margin-top:0px;
	background-image: url("../images/header_bg.gif");
	background-repeat: no-repeat;
}
.main{
	padding-left: 5%; 
	width: 95%;
    margin-right: 5%;
}
.galary{
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left:2%; 
}
.img1{
	width: 250px;
	height:210px;
}
.image1{
	
	width: 46%;
	float: left;
}
.img2{
	width: 170px;
	height:222px;
}
.image2{
	width: 32%;
	float: right;

}
.text{
	margin: 15px;
}
.center{
	text-align: center;
}

.footer{
	padding-left:2%;
	width: 95%;
    margin-right: 5%;
}

button {
  border-radius: 5px;
  background-color: #d65c4b;
  width: 40%;
  height: 35%;
  color: white;
}
.center {
	text-align: center;
}