.main {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
    text-align: center;
    text-indent: 2em;
    word-break: break-all;
}

.header {
	max-width: 100%;
    height: auto;
}